.root{
    -fx-background-color: #FFFFF0;
}

.errorTextField{
 
    -fx-border-color: #f00;
    -fx-border-width: 2px;
}
.scheduleDays{
	-fx-font-size:18px;
}
.scheduleTime{
	-fx-font-size:22px;
}
.scheduleButtonActive{
	-fx-background-color: #e7e7e7;
	-fx-font-size:30px;
}
.scheduleButtonUnactive{
	-fx-background-color: #696969;
	-fx-font-size:15px;
}
